<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>MyShop</title>
    <link href="__admin__/style.css" rel="stylesheet" media="all" />
    <link href="" rel="stylesheet" title="style" media="all" />
    <script type="text/javascript" src="__admin__/js/jquery-1.3.2.js"></script>
    <script type="text/javascript" src="__admin__/js/superfish.js"></script>
    <script type="text/javascript" src="__admin__/js/jquery-ui-1.7.2.js"></script>
    <script type="text/javascript" src="__admin__/js/tooltip.js"></script>
    <script type="text/javascript" src="__admin__/js/tablesorter.js"></script>
    <script type="text/javascript" src="__admin__/js/tablesorter-pager.js"></script>
    <script type="text/javascript" src="__admin__/js/cookie.js"></script>
    <script type="text/javascript" src="__admin__/js/custom.js"></script>
    <!--[if IE 6]>
    <link href="__admin__/css/ie6.css" rel="stylesheet" media="all" />

    <script src="__admin__/js/pngfix.js"></script>
    <script>
        /* EXAMPLE */
        DD_belatedPNG.fix('.logo, .other ul#dashboard-buttons li a');

    </script>
    <![endif]-->
    <!--[if IE 7]>
    <link href="__admin__/css/ie7.css" rel="stylesheet" media="all" />
    <![endif]-->
</head>
<body>
<div id="header">
    <div id="top-menu">
        <a href="#" title="My account">我的账号</a> |
        <a href="#" title="Settings">设置</a> |
        <a href="#" title="Contact us">联系我们</a>

        <span>你好，<a href="#" title="Logged in as admin">admin</a></span>
        | <a href="#" title="Edit profile">编辑资料</a>
        | <a href="#" title="Logout">退出</a>
    </div>
    <div id="sitename">
        <a href="index.html" class="logo float-left" title="JsAdmin">MyShop</a>
        <div class="button float-right">
            <a href="#" id="dialog_link" class="btn ui-state-default ui-corner-all"><span class="ui-icon ui-icon-newwin"></span>打开对话框</a>
            <a href="../Login/login1"  class="btn ui-state-default ui-corner-all"><span class="ui-icon ui-icon-image"></span>登录</a>
        </div>
        <div id="dialog" title="Dialog Title">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
    </div>
    <ul id="navigation" class="sf-navbar">
        <li>
            <a href="index.html">商品管理</a>
            <ul>
                <li><a href="../index/index">首页</a></li>
                <li><a href="../Shoplist/shoplist">商品列表</a></li>
                <li><a href="tables.html">商品分类</a></li>
                <li><a href="msg.html">库存日志</a></li>
                <li><a href="../modellist/modellist">商品模型</a></li>
                <li><a href="msg.html">商品规格</a></li>
                <li><a href="../Brandlist/brandlist">品牌列表</a></li>
                <li><a href="msg.html">商品属性</a></li>
                <li><a href="msg.html">评论列表</a></li>
                <li><a href="msg.html">商品咨询</a></li>
            </ul>
        </li>
        <li>
            <a href="#">系统设置</a>
            <ul>
                <li>
                    <a href="#">商城设置</a>
                    <ul>
                        <li><a href="#">网站设置</a></li>
                        <li><a href="#">权限设置</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">二级菜单1</a>
                </li>
                <li>
                    <a href="#">三级菜单3</a>
                </li>
                <li>
                    <a href="#">Menu item 4</a>
                    <ul>
                        <li><a href="#">Subitem 1</a></li>
                        <li>
                            <a href="#">Subitem 2</a>
                            <ul>
                                <li><a href="#">Subitem 1</a></li>
                                <li>
                                    <a href="#">Subitem 2</a>
                                    <ul>
                                        <li><a href="#">Subitem 1</a></li>
                                        <li>
                                            <a href="#">Subitem 2</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Menu item 5</a>
                    <ul>
                        <li><a href="#">Subitem 1</a></li>
                        <li><a href="#">Subitem 2</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Menu item 6</a>
                </li>
                <li>
                    <a href="#">Menu item 7</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">会员管理</a>
            <ul>
                <li>
                    <a href="three-columns-layout.html">会员列表</a>
                </li>
                <li>
                    <a href="two-column-layout.html">会员等级</a>
                </li>
                <li>
                    <a href="three-column-small-layout.html">会员签到</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">插件</a>
            <ul>
                <li>
                    <a href="accordion.html">手风琴特效</a>
                </li>
                <li>
                    <a href="tabs.html">Tabs选项卡</a>
                </li>
                <li>
                    <a href="overlays.html">弹出层</a>
                </li>
            </ul>
        </li>
    </ul>
</div>
<div id="page-wrapper">
     <div id="main-wrapper">
         <div id="main-content">
             <div class="other-box yellow-box ui-corner-all">
                 <div class="cont tooltip ui-corner-all">
                     <h3>欢迎光临 !</h3>
                     <p><b>MyShop</b> 是个简洁轻量级易用的后台管理系统模版，欢迎使用！ </p>
                 </div>
             </div>
             <div class="page-title ui-widget-content ui-corner-all">
                 <h1>管理员选项</h1>
                 <div class="other">

                     <ul id="dashboard-buttons">
                         <li>
                             <a href="#" class="Book_phones tooltip">
                                 通讯薄
                             </a>
                         </li>
                         <li>
                             <a href="#" class="Books tooltip">
                                 书籍
                             </a>

                         </li>
                         <li>
                             <a href="#" class="Box_recycle tooltip">
                                 回收站
                             </a>
                         </li>
                         <li>
                             <a href="#" class="Books tooltip">
                                 书籍
                             </a>

                         </li>
                         <li>
                             <a href="#" class="Box_content tooltip">
                                 收纳箱
                             </a>
                         </li>
                         <li>
                             <a href="#" class="Briefcase_files tooltip">
                                 文件夹
                             </a>

                         </li>
                         <li>
                             <a href="#" class="Chart_4 tooltip">
                                 图表
                             </a>
                         </li>
                         <li>
                             <a href="#" class="Clipboard_3 tooltip">
                                 剪贴板
                             </a>

                         </li>
                         <li>
                             <a href="#" class="Chart_5 tooltip">
                                 图表
                             </a>
                         </li>
                         <li>
                             <a href="#" class="Glass tooltip">
                                 放大镜
                             </a>

                         </li>
                         <li>
                             <a href="#" class="Globe tooltip">
                                 地球
                             </a>
                         </li>
                         <li>
                             <a href="#" class="Mail_compose tooltip">
                                 邮件箱
                             </a>

                         </li>
                         <li>
                             <a href="#" class="Mail_open tooltip">
                                 收邮件
                             </a>
                         </li>
                         <li>
                             <a href="#" class="Monitor tooltip">
                                 监控
                             </a>

                         </li>
                         <li>
                             <a href="#" class="Star tooltip">
                                 星星
                             </a>
                             <div class="clearfix"></div>
                         </li>
                     </ul>
                     <div class="clearfix"></div>
                 </div>


             </div>
         </div>
     </div>
</div>
<div class="clearfix"></div>
<div id="footer">
    <div id="menu">
        <a href="#" title="Home">Home</a>
        <a href="#" title="Administration">Administration</a>
        <a href="#" title="Settings">Settings</a>
        <a href="#" title="Contact">Contact</a>
    </div>
    Copyright &copy; 2009 - Horia Simon - More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a>
</div>
</body>
</html>
