<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>MyShop</title>
    <link href="__admin__/style.css" rel="stylesheet" media="all" />
    <link href="" rel="stylesheet" title="style" media="all" />
    <script type="text/javascript" src="__admin__/js/jquery-1.3.2.js"></script>
    <script type="text/javascript" src="__admin__/js/superfish.js"></script>
    <script type="text/javascript" src="__admin__/js/jquery-ui-1.7.2.js"></script>
    <script type="text/javascript" src="__admin__/js/tooltip.js"></script>
    <script type="text/javascript" src="__admin__/js/tablesorter.js"></script>
    <script type="text/javascript" src="__admin__/js/tablesorter-pager.js"></script>
    <script type="text/javascript" src="__admin__/js/cookie.js"></script>
    <script type="text/javascript" src="__admin__/js/custom.js"></script>
    <!--[if IE 6]>
    <link href="__admin__/css/ie6.css" rel="stylesheet" media="all" />

    <script src="__admin__/js/pngfix.js"></script>
    <script>
        /* EXAMPLE */
        DD_belatedPNG.fix('.logo, .other ul#dashboard-buttons li a');

    </script>
    <![endif]-->
    <!--[if IE 7]>
    <link href="__admin__/css/ie7.css" rel="stylesheet" media="all" />
    <![endif]-->
</head>
<body>
<div id="header">
    <div id="top-menu">
        <a href="#" title="My account">我的账号</a> |
        <a href="#" title="Settings">设置</a> |
        <a href="#" title="Contact us">联系我们</a>

        <span>你好，<a href="#" title="Logged in as admin">admin</a></span>
        | <a href="#" title="Edit profile">编辑资料</a>
        | <a href="#" title="Logout">退出</a>
    </div>
    <div id="sitename">
        <a href="index.html" class="logo float-left" title="JsAdmin">MyShop</a>
        <div class="button float-right">
            <a href="#" id="dialog_link" class="btn ui-state-default ui-corner-all"><span class="ui-icon ui-icon-newwin"></span>打开对话框</a>
            <a href="../Login/login1"  class="btn ui-state-default ui-corner-all"><span class="ui-icon ui-icon-image"></span>登录</a>
        </div>
        <div id="dialog" title="Dialog Title">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
    </div>
    <ul id="navigation" class="sf-navbar">
        <li>
            <a href="index.html">商品管理</a>
            <ul>
                <li><a href="../index/index">首页</a></li>
                <li><a href="../Shoplist/shoplist">商品列表</a></li>
                <li><a href="tables.html">商品分类</a></li>
                <li><a href="msg.html">库存日志</a></li>
                <li><a href="../modellist/modellist">商品模型</a></li>
                <li><a href="msg.html">商品规格</a></li>
                <li><a href="../Brandlist/brandlist">品牌列表</a></li>
                <li><a href="msg.html">商品属性</a></li>
                <li><a href="msg.html">评论列表</a></li>
                <li><a href="msg.html">商品咨询</a></li>
            </ul>
        </li>
        <li>
            <a href="#">系统设置</a>
            <ul>
                <li>
                    <a href="#">商城设置</a>
                    <ul>
                        <li><a href="#">网站设置</a></li>
                        <li><a href="#">权限设置</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">二级菜单1</a>
                </li>
                <li>
                    <a href="#">三级菜单3</a>
                </li>
                <li>
                    <a href="#">Menu item 4</a>
                    <ul>
                        <li><a href="#">Subitem 1</a></li>
                        <li>
                            <a href="#">Subitem 2</a>
                            <ul>
                                <li><a href="#">Subitem 1</a></li>
                                <li>
                                    <a href="#">Subitem 2</a>
                                    <ul>
                                        <li><a href="#">Subitem 1</a></li>
                                        <li>
                                            <a href="#">Subitem 2</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Menu item 5</a>
                    <ul>
                        <li><a href="#">Subitem 1</a></li>
                        <li><a href="#">Subitem 2</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Menu item 6</a>
                </li>
                <li>
                    <a href="#">Menu item 7</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">会员管理</a>
            <ul>
                <li>
                    <a href="three-columns-layout.html">会员列表</a>
                </li>
                <li>
                    <a href="two-column-layout.html">会员等级</a>
                </li>
                <li>
                    <a href="three-column-small-layout.html">会员签到</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">插件</a>
            <ul>
                <li>
                    <a href="accordion.html">手风琴特效</a>
                </li>
                <li>
                    <a href="tabs.html">Tabs选项卡</a>
                </li>
                <li>
                    <a href="overlays.html">弹出层</a>
                </li>
            </ul>
        </li>
    </ul>
</div>
<div id="page-wrapper">
    <div id="main-wrapper">
        <div id="main-content">
            <div class="title title-spacing">
                <h2>商品列表</h2>
                商城所有商品索引及管理
            </div>
            <ul id="icons" class="ui-widget ui-helper-clearfix" style="float: left;">
                <a href="../Addgoods/imglist"><li class="ui-state-default ui-corner-all" title=".ui-icon-plusthick"><span class="ui-icon ui-icon-plusthick"></span><span style="display:inline-block;line-height: 16px; color:black;margin: 0 4px;">添加商品</span></li></a>
            </ul>
            <form action="../shoplist/shoplist1" method="post">
            <div style="float: left;margin-left: 50px;">
                <select name="goods_type1" style="height: 28px;">
                <option value="1">所有分类  </option>
                <option value="电子产品">电子产品</option>
                <option value="日用品">日用品</option>
                <option value="食品">食品</option>
            </select></div>
            <div style="float: left;margin-left: 10px;">
                <select name="goods_brand" style="height: 28px;">
                <option value="1">所有品牌  </option>
                <option value="134">134</option>
                <option value="778">778</option>
                <option value="645">645</option>
            </select></div>
             <div style="float: left;margin-left: 10px;">
                 <input type="text" name="search" style="height: 20px;"/>
             </div>
            <div style="float: left;margin-left: 10px;">
                <input type="submit" class="btn btn-primary" style="height: 28px;" name="sub" value="搜索">
            </div>
            </form>
            <div class="hastable">
            <form name="myform" class="pager-form" method="post" action=""style="width: 1300px;">
                <table id="sort-table">
                    <thead>
                    <tr>
                        <th><input type="checkbox" value="check_none" onclick="this.value=check(this.form.list)" class="submit"></th>
                        <th class="header">id<span class="ui-icon ui-icon-carat-2-n-s"></span></th>
                        <th class="header">商品名称<span class="ui-icon ui-icon-carat-2-n-s"></span></th>
                        <th class="header">货号<span class="ui-icon ui-icon-carat-2-n-s"></span></th>
                        <th class="header">分类<span class="ui-icon ui-icon-carat-2-n-s"></span></th>
                        <th class="header">价格<span class="ui-icon ui-icon-carat-2-n-s"></span></th>
                        <th class="header">上/下架<span class="ui-icon ui-icon-carat-2-n-s"></span></th>
                        <th class="header">库存<span class="ui-icon ui-icon-carat-2-n-s"></span></th>
                        <th style="width:132px">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {volist name="goods" id="list"}
                    <tr class="even">
                        <td class="center"><input type="checkbox" value="1" name="list" class="checkbox"></td>
                        <td style="text-align: center;">{$list.goods_id}</td>
                        <td>{$list.goods_name}</td>
                        <td>{$list.goods_code}</td>
                        <td>{$list.goods_type}</td>
                        <td>{$list.goods_price}</td>
                        <td> <?php
                                    if($list['goods_state']==1){
                                        echo "是";
                                    }
                                    else{
                                     echo "否";
                                    }
                               ?></td>
                        <td>{$list.goods_stock}</td>
                        <td>
                            <a class="btn_no_text btn ui-state-default ui-corner-all tooltip" href="../shoplist/updategoods?id={$list.goods_id}">
                                <span class="ui-icon ui-icon-wrench"></span>
                            </a>
                            <a class="btn_no_text btn ui-state-default ui-corner-all tooltip" href="#">
                                <span class="ui-icon ui-icon-heart"></span>
                            </a>
                            <a class="btn_no_text btn ui-state-default ui-corner-all tooltip" href="#">
                                <span class="ui-icon ui-icon-cart"></span>
                            </a>
                            <a class="btn_no_text btn ui-state-default ui-corner-all tooltip" href="../shoplist/delgoods?id={$list.goods_id}">
                                <span class="ui-icon ui-icon-circle-close"></span>
                            </a>
                        </td>
                    </tr>
                    {/volist}
                    </tbody>
                </table>
                <div id="pager">
                    <a class="btn_no_text btn ui-state-default ui-corner-all first" title="First Page" href="#">
                        <span class="ui-icon ui-icon-arrowthickstop-1-w"></span>
                    </a>
                    <a class="btn_no_text btn ui-state-default ui-corner-all prev" title="Previous Page" href="#">
                        <span class="ui-icon ui-icon-circle-arrow-w"></span>
                    </a>

                    <input type="text" class="pagedisplay">
                    <a class="btn_no_text btn ui-state-default ui-corner-all next" title="Next Page" href="#">
                        <span class="ui-icon ui-icon-circle-arrow-e"></span>
                    </a>
                    <a class="btn_no_text btn ui-state-default ui-corner-all last" title="Last Page" href="#">
                        <span class="ui-icon ui-icon-arrowthickstop-1-e"></span>
                    </a>
                    <select class="pagesize">
                        <option value="5" >5 results</option>
                        <option value="10" selected="selected">10 results</option>
                        <option value="20">20 results</option>
                        <option value="30">30 results</option>
                    </select>
                </div>
            </form>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div id="footer">
    <div id="menu">
        <a href="#" title="Home">Home</a>
        <a href="#" title="Administration">Administration</a>
        <a href="#" title="Settings">Settings</a>
        <a href="#" title="Contact">Contact</a>
    </div>
    Copyright &copy; 2009 - Horia Simon - More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a>
</div>
</body>
</html>
